In this notebook, a dataframe having the latitude and longitude of each postal code is made using the Toronto postal codes dataframe made in the first part of this assignment.

In [1]:
import pandas as pd

In [2]:
# Read in the Toronto neighborhoods file and the file of Geospatial coords for each postal code.
# The Geocoder did not work out for me and since time was running out, I decided to use the provided file of
# geospatial coordinates.

TorPostCodedf = pd.read_csv('TorontoProject2.csv')
TorLatLongdf = pd.read_csv('Geospatial_Coordinates.csv')

In [3]:
#Look at TorPostCodedf
TorPostCodedf.head(5)

  Postcode       Borough                            Neighbourhood
0      M1B   Scarborough                           Malvern, Rouge
1      M1C   Scarborough   Highland Creek, Port Union, Rouge Hill
2      M1E   Scarborough        Guildwood, Morningside, West Hill
3      M1G   Scarborough                                   Woburn
4      M1H   Scarborough                                Cedarbrae

In [4]:
#Look at TorLatLongdf (made from the file of geospatial coords)
TorLatLongdf.head(5)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [5]:
#Delete Postal Code column in preparation for merging dataframes.
subsetdf = TorLatLongdf[['Latitude', 'Longitude']]
subsetdf.head()

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

In [6]:
#Since both dataframes are sorted by Postcode, the dataframe of the neighborhoods
#can be merged with the dataframe of latitudes and longitudes using pandas concat.
TorExploredf = pd.concat([TorPostCodedf, subsetdf], axis=1)
TorExploredf.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848